:root{
  --black: #000000;
  --darkRed: #3D0000;
  --red: #950101;
  --lightRed: #FF0000;
  --sm: 14px;
  --md: 18px;
  --lg: 28px;
}

/* 
Font rules
Changa: for code examples
Coda: for code examples
coda: general

*/

body {
  margin: 0;
  }

.experience{
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.experience-canvas{
  width: 100%;
  height: 100%;
  
}

/* Landing Zone */

#landing-portfolio{
}
